<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>my-portfolio</title>
</head>
<body class="bg-[#090D23]">
  <header 
    class="flex justify-between items-center md:justify-start px-8 py-4 w-full md:px-10 lg:px-16 lg:py-6 2xl:px-32">
    <h1 id="logo"
      class="mr-10 w-max text-white text-4xl text-bold">
      e
    </h1>
    <div id="hamburger-menu"
      class="absolute top-5 right-8 z-20 text-lg text-white block md:hidden">
        
      </div>
    <nav id="drawer"
      class="hide absolute left-0 top-0 w-full bg-green-500 z-10 md:relative md:opacity-100 md:h-max md:bg-transparent md:w-max">
      <ul 
        class="font-medium capitalize p-6 md:p-0 md:grid md:grid-flow-col md:gap-8 md:items-center lg:gap-10">
        <li class="menu-item mt-10 md:mt-0">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            beranda
        </a>
        </li>
        <li class="menu-item">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            tentang
          </a>
        </li>
        <li class="menu-item">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            skill
          </a>
        </li>
        <li class="menu-item">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            projek
          </a>
        </li>
        <li class="menu-item">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            sertifikat
          </a>
        </li>
        <li class="menu-item">
          <a href="#" 
            class="text-sm tracking-wide text-white block border-b border-green-600 py-4 md:py-0 md:border-0 2xl:text-lg hover:text-green-600">
            kontak
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>